/* stylelint-disable */
.woocommerce-notices-wrapper {
  max-width: 400px;
  width: 100%;
  margin: 20px auto 0;
}

.page-id-191 {
  .woocommerce-notices-wrapper {
    max-width: 460px;
  }
}

.password-input {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
}

.show-password-input {
  position: absolute;
  right: 0.7em;
  top: 0.7em;
  cursor: pointer;

  &::after {
    font-family: "WooCommerce", san-serif;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-left: 0.618em;
    content: "î€";
    text-decoration: none;
  }
}

.back-to-login {
  width: 100%;
  margin-top: 50px;
}

.woocommerce-message,
.woocommerce-error {
  color: #000;
  border-left: 5px solid #89937a;
  background-color: #eff5ea;
  border-top: 0;
  padding: 7px 10px 7px 20px;
  font-size: 12px;
  position: relative;

  &::before {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #89937a;
    border-right: none;
    top: 50%;
    left: 0;
    margin-top: -6px;
  }
}

.woocommerce-error {
  border-left: 5px solid #b81c23 !important;
  background-color: #faebe7 !important;

  &::before {
    border-left: 6px solid #b81c23 !important;
  }
}

.woocommerce-account {
  background-color: #fff;

  .account-title {
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
  }

  .page-title h1 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    display: inline-block;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  .top-right {
    float: right;

    a {
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 1.5px;
      transition: 0.25s ease;
      font-weight: normal;
      line-height: 13px;

      span {
        padding: 0 4px;
      }
    }
  }

  label {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 16px !important;

    em {
      font-style: normal;
      font-weight: normal;
    }
  }

  input[type="text"],
  input[type="password"] {
    line-height: 36px;
    padding: 2px 8px 0;
    border-radius: 3px;
    border: 1px solid #c7c6c4;
    font-size: 16px;
    height: 40px;
    box-shadow: none;
    width: 100%;
  }

  .u-columns#customer_login {
    max-width: 460px;
    width: 100%;
    margin: 0 auto;

    .lost_password {
      text-align: center;

      > a {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1.5px;
        transition: 0.25s ease;
        font-weight: normal;
        line-height: 13px;
      }
    }

    .cosmedoc-btn {
      width: 100%;
      word-break: break-word;
      padding-left: 5px;
      padding-right: 5px;

      @include breakpoint(375px down) {
        font-size: 9px;
      }
    }

    .form-or {
      text-align: center;
      margin: 12px 0 16px;
    }
  }

  .u-column1.col-1 {
    h2 {
      font-size: 28px;
      font-weight: normal;
      color: #363636;
      padding-bottom: 3px;
      margin-bottom: 34px;
      text-align: center;
    }
  }

  .woocommerce-form {
    border: 0 !important;
  }

  footer#footer-container {
    background-color: $secondary-color;

    @include breakpoint(medium down) {
      padding-top: 55px;
    }
  }

  main#content {
    background-color: #fff;
    padding-bottom: 70px;
  }

  .lost_reset_password {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

    h3 {
      font-size: 28px;
      font-weight: normal;
      color: #363636;
      text-align: center;
      text-transform: none;
      margin-bottom: 34px;
    }

    .back-to-acc {
      text-align: center;

      .simple-link {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 1.5px;
        transition: 0.25s ease;
        font-weight: normal;
        line-height: 13px;
      }
    }

    button {
      width: 100%;
    }
  }
}

.woocommerce-js {
  background-color: #fff;

  .control {
    display: flex;
    margin-bottom: 0.1rem;
  }

  .form-row-first {
    float: left;
    width: 47%;
    overflow: visible;

    @include breakpoint(769px down) {
      float: none;
      width: 100%;
    }
  }

  .form-row-last {
    float: right;
    width: 47%;
    overflow: visible;

    @include breakpoint(769px down) {
      float: none;
      width: 100%;
    }
  }

  .register-form {
    max-width: 460px;
    width: 100%;
    margin: 0 auto 172px;
  }

  em.required {
    color: red;
    font-weight: 700;
    border: 0 !important;
    text-decoration: none;
  }

  .register {
    .form-or {
      text-align: center;
    }

    .cosmedoc-btn {
      width: 100%;
    }

    label {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px;
      line-height: 16px !important;

      em {
        font-style: normal;
        font-weight: normal;
      }
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      line-height: 36px;
      padding: 2px 8px 0;
      border-radius: 3px;
      border: 1px solid #c7c6c4;
      font-size: 16px;
      height: 40px;
      box-shadow: none;
      width: 100%;
    }
  }

  h2 {
    font-size: 28px !important;
    font-weight: normal;
    color: #363636;
    text-align: center;
  }

  .site-footer {
    background-color: $secondary-color;

    @include breakpoint(medium down) {
      padding-top: 55px;
    }
  }
}
