/* stylelint-disable */
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  width: 100%;
}

.woocommerce-checkout {
  background-color: #f3f4f1;

  .checkout-title {
    font-size: 28px !important;
    font-weight: normal;
    color: #363636;
    padding-bottom: 3px;
    margin-bottom: 18px !important;
  }

  .woocommerce-form-coupon-toggle {
    display: none;
  }

  .site-content {
    .site-main {
      .entry-content {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;

        .column-content {
          display: flex;

          .column-1 {
            width: 70%;
            padding-right: 100px;
          }

          .column-2 {
            width: 30%;
          }
        }

        .account-entry {
          padding: 25px 0;
          border-top: 1px solid #363636;
          border-bottom: 1px solid #363636;
          margin-bottom: 18px;
          font-size: 13px;

          a {
            color: #363636;
            text-decoration: none;
            border-bottom: 1px solid #363636;
            transition: opacity 0.3s ease;
          }
        }

        .step-container {
          border-bottom: 1px solid #363636;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }

        .woocommerce-billing-fields h3 {
          display: none;
        }

        .woocommerce-account-fields {
          display: none;
        }

        form {
          .woocommerce-billing-fields__field-wrapper {
            display: flex;
            flex-direction: column;
          }

          .optional {
            display: none;
          }

          input {
            max-width: 300px;
            width: 100%;
            line-height: 36px;
            padding: 2px 8px 0;
            padding-left: 10px;
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid #c7c6c4;
            background: #fff;
            font-size: 16px;

            &[type="radio"] {
              max-width: 15px;
              margin-top: 0 !important;
            }
          }
        }

        .woocommerce-shipping-methods {
          li {
            display: flex;
            align-items: center;

            .woocommerce-Price-amount {
              font-size: 14px;
              font-weight: 400 !important;
            }
          }
        }

        .woocommerce-checkout-review-order {
          .woocommerce-checkout-review-order-table {
            border: none;
            border-top: 1px solid #363636;
            border-bottom: 1px solid #363636;
            border-radius: 0;
            padding: 2px 0;

            tfoot {
              background-color: transparent;

              td {
                border: none;
                padding-right: 0;
              }
            }

            tr {
              padding: 2px 0;
              max-width: 550px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-left: auto;
            }

            th,
            .woocommerce-Price-amount {
              border: none;
              font-weight: 400;
              color: #363636;
              font-size: 14px;
              line-height: 1.5;
              opacity: 0.6;
            }

            .order-total {
              th,
              .woocommerce-Price-amount {
                font-weight: 700;
                opacity: 1 !important;
              }
            }
          }
        }

        .result-title-sh {
          font-size: 28px;
          line-height: 40px;
          border-bottom: 1px solid #000;
          margin-bottom: 25px;
          padding-bottom: 8px;
        }

        .progress-bar__steps {
          display: flex;
          flex-direction: column;

          h5 {
            margin-bottom: 6px;
            font-size: 14px;
            text-transform: initial;
          }

          .payer-data,
          .shipping-data {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            border-bottom: 1px solid #000;
            margin-bottom: 20px;

            li {
              display: inline-flex;
              margin: 0;
              color: #363636;
              font-size: 11px;
              font-style: normal;
              margin-bottom: 4px;
              text-rendering: optimizeSpeed;
            }

            &.hidden {
              display: none;
            }
          }
        }

        .column-1 .shipping-step,
        .column-1 .order-review-step,
        .column-1 .payment-step {
          &.hidden {
            display: none;
          }
        }

        .next-step {
          width: 100%;
          margin-top: 10px;

          &.hidden {
            display: none !important;
          }
        }

        #order_review_heading {
          display: none;
        }

        .woocommerce-additional-fields {
          h3 {
            display: none;
          }
        }
      }
    }
  }
}
