/* stylelint-disable */
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  width: 100%;
}

.woocommerce-checkout {
  background-color: #f3f4f1 !important;

  .checkout-title {
    font-size: 28px !important;
    font-weight: normal;
    color: #363636;
    padding-bottom: 3px;
    margin-bottom: 18px !important;
    @include breakpoint(small down) {
      font-size: 22px !important;
    }
  }


  .woocommerce-form-coupon-toggle {
    display: none;
  }

  .site-content {
    .site-main {
      .entry-content {
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;

        .column-content {
          display: flex;
          @include breakpoint(medium down) {
            flex-direction: column;
          }

          .column-1 {
            width: 70%;
            padding-right: 100px;
            @include breakpoint(medium down) {
              width: 100%;
              padding-right: 0;
            }
          }

          .column-2 {
            width: 30%;
            @include breakpoint(medium down) {
              width: 100%;
            }
          }
        }

        .account-entry {
          padding: 25px 0;
          border-top: 1px solid #363636;
          border-bottom: 1px solid #363636;
          margin-bottom: 18px;
          font-size: 13px;

          a {
            color: #363636;
            text-decoration: none;
            border-bottom: 1px solid #363636;
            transition: opacity 0.3s ease;
          }
        }

        .step-container {
          border-bottom: 1px solid #363636;
          padding-bottom: 20px;
          margin-bottom: 20px;
        }

        .woocommerce-billing-fields h3 {
          display: none;
        }

        .woocommerce-account-fields {
          display: none;
        }

        form {
          .woocommerce-billing-fields__field-wrapper {
            display: flex;
            background-color: #f3f4f1 !important;
            flex-direction: column;

            p {
              &.form-row {
                max-width: 300px;
                width: 100%;
                @include breakpoint(small down) {
                  width: 100%;
                  max-width: 100%;
                }
              }
            }
          }

          .woocommerce-input-wrapper {
            label.invalid {
              display: none;
            }
          }

          .optional {
            display: none;
          }

          #billing_country_field {
            display: none;
          }

          input {
            width: 100%;
            line-height: 36px;
            padding: 2px 8px 0;
            padding-left: 10px;
            border-radius: 3px;
            box-shadow: none;
            border: 1px solid #c7c6c4;
            background: #fff;
            font-size: 16px;

            &[type="radio"] {
              max-width: 15px;
              margin-top: 0 !important;
            }

            &.invalid {
              border-color: red;
            }

          }
        }

        .woocommerce-shipping-methods {
          li {
            display: flex;
            align-items: center;

            .woocommerce-Price-amount {
              font-size: 14px;
              font-weight: 400 !important;
            }
          }
        }

        .woocommerce-checkout-review-order {
          .woocommerce-checkout-review-order-table {
            border: none;
            border-top: 1px solid #363636;
            border-bottom: 1px solid #363636;
            border-radius: 0;
            padding: 2px 0;

            tfoot {
              background-color: transparent;

              td {
                border: none;
                padding-right: 0;
              }
            }

            tr {
              padding: 2px 0;
              max-width: 550px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-left: auto;
            }

            th,
            .woocommerce-Price-amount {
              border: none;
              font-weight: 400;
              color: #363636;
              font-size: 14px;
              line-height: 1.5;
              opacity: 0.6;
            }

            .order-total {
              th,
              .woocommerce-Price-amount {
                font-weight: 700;
                opacity: 1 !important;
              }
            }
          }
        }

        .result-title-sh {
          font-size: 28px;
          line-height: 40px;
          border-bottom: 1px solid #000;
          margin-bottom: 25px;
          padding-bottom: 8px;
          @include breakpoint(small down) {
            font-size: 22px;
          }
        }

        .progress-bar__steps {
          display: flex;
          flex-direction: column;

          li.inactive {
            h5 {
              opacity: 0.4;
            }
          }

          h5 {
            margin-bottom: 8px;
            font-size: 14px;
            text-transform: initial;
          }

          .payer-data,
          .shipping-data {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            border-bottom: 1px solid #000;
            margin-bottom: 20px;

            li {
              display: inline-flex;
              margin: 0;
              color: #363636;
              font-size: 11px;
              font-style: normal;
              margin-bottom: 4px;
              text-rendering: optimizeSpeed;
            }

            &.hidden {
              display: none;
            }
          }
        }

        .column-1 .shipping-step,
        .column-1 .order-review-step,
        .column-1 .payment-step {
          &.hidden {
            display: none;
          }
        }

        .next-step {
          width: 100%;
          margin-top: 10px;

          &.hidden {
            display: none !important;
          }
        }

        #order_review_heading {
          display: none;
        }

        #payment {
          background-color: #f3f4f1 !important;

          #place_order {
            width: 100%;
            float: none;
          }

          ul.payment_methods {
            li {
              label {
                @include mq(0, 520) {
                  max-width: 206px;
                  width: 100%;
                  align-items: center;
                  display: inline-flex;
                }
              }
            }
          }
        }

        .woocommerce-additional-fields {
          h3 {
            display: none;
          }

          .agree-field {
            font-size: 13px;

            a {
              text-decoration: underline;


            }
          }

          .subscribe-btn {
            margin-bottom: 10px;
            margin-top: 20px;

            input {
              width: auto;
            }
          }

          .order-comments-section {
            display: flex;
            @include breakpoint(small down) {
              flex-direction: column;
            }

            .order-comments-field {
              width: 50%;
              padding-right: 30px;
              @include breakpoint(small down) {
                width: 100%;
                padding-right: 0;
              }

              label {
                margin-bottom: 5px;
                font-size: 13px;
              }

              textarea#order_comments {
                height: 112px;
                border-radius: 3px;
                border: 1px solid #D8D8D8;
              }
            }

            .order-notices {
              width: 50%;
              font-size: 13px;
              padding-top: 26px;
              line-height: 1.5;
              @include breakpoint(small down) {
                width: 100%;
                padding-top: 5px;
              }
            }
          }
        }
      }
    }
  }

  div.blockOverlay {
    opacity: 0.3;
  }
}

//thank you page
.woocommerce-order-received {
  .woocommerce-order {
    .woocommerce-thankyou-order-received {
      display: none;
    }
  }

  .woocommerce-order-details__title {
    @include breakpoint(small down) {
      font-size: 23px !important;
    }
  }

  ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    @include breakpoint(small down) {
      margin-bottom: 20px;
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      @include breakpoint(small down) {
        margin-bottom: 20px;
        border-right: none;
        border-bottom: 1px dotted #ccc;
        width: 100%;
        padding-bottom: 17px;
      }
    }
  }

  .woocommerce-table--order-details {

    li {
      strong, bdi {
        @include breakpoint(small down) {
          font-size: 14px;
        }
      }
    }

    thead {
      background: transparent;
    }

    tbody {
      background-color: transparent;
    }

    tfoot {
      small {
        font-size: 14px;
      }

    }
  }
}
