/* stylelint-disable */

.tinvwl-table-manage-list {
  .woocommerce-Price-amount {
    font-size: 14px !important;
  }
}

.tinv-wraper.tinv-wishlist {
  padding-bottom: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 91;

  > .tinvwl_add_to_wishlist_button {
    margin-top: 0 !important;

    &::before {
      content: "" !important;
      background-position: -153px -149px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url("assets/images/cosmedoc.svg");
    }

    &.tinvwl-product-make-remove::before {
      content: "" !important;
      background-position: -179px -149px;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url("assets/images/cosmedoc.svg");
    }
  }
}

.tinvwl-theme-style {
  p.cart-empty {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
  }

  .return-to-shop {
    text-align: center;
  }

  .tinv-wishlist {
    padding-bottom: 50px;
  }

  .product-info {
    margin: 0 20px 30px 0 !important;
  }

  .tinv-wishlist .product-thumbnail {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 0 1em;

    img {
      width: 100%;
      max-width: 100% !important;
    }

    > a {
      position: relative;
      display: inline-block;
      width: 100%;

      &::before {
        content: "";
        background: rgba(0, 0, 0, 0.04);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  .product-brand a.brand {
    font-size: 14px;
    text-transform: uppercase;
    color: #c7c6c4;
    pointer-events: none;
  }

  .product-name a {
    margin-bottom: 17px !important;
    min-height: 40px;
    max-height: 42px;
    overflow: hidden;
    text-align: left;
    font-size: 14px !important;
    line-height: 20px;
    padding: 0 !important;
  }

  .woocommerce-Price-amount {
    color: #363636;
    letter-spacing: -0.5px;
    font-size: 18px;
    text-decoration: none;
  }

  .button {
    background-color: #89937a;
    display: inline-block;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: 38px;
    border-radius: 3px;
    border: 1px solid transparent;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    transition: 0.3s ease;
    height: 40px;
    cursor: pointer;

    &:hover {
      background-color: transparent !important;
      color: #000 !important;
      border-color: #000 !important;
    }
  }

  .product-remove {
    width: 100% !important;
    padding: 0 !important;
    text-align: left !important;

    button {
      display: inline-block;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 400;
      height: auto;
      width: auto;
      border-radius: 0;
      color: #363636 !important;
      background-color: transparent;
      cursor: pointer;
      margin-bottom: 20px !important;
    }
  }

  .tinvwl-to-right.look_in {
    margin: 30px auto;
    text-align: center;

    button {
      background-color: #e88565 !important;
      color: #fff !important;

      &:hover {
        border-color: #e88565 !important;
        color: #e88565 !important;
        background-color: transparent !important;
      }
    }
  }
}
